@font-face {
  font-family: Qenalas-Black;
  src: url(./fonts/Qanelas-Black.ttf);
}

@font-face {
  font-family: Qenalas-BlackItalic;
  src: url(./fonts/Qanelas-BlackItalic.ttf);
}

@font-face {
  font-family: Qenalas-Bold;
  src: url(./fonts/Qanelas-Bold.ttf);
}

@font-face {
  font-family: Qenalas-BoldItalic;
  src: url(./fonts/Qanelas-BoldItalic.ttf);
}

@font-face {
  font-family: Qenalas-ExtraBold;
  src: url(./fonts/Qanelas-ExtraBold.ttf);
}

@font-face {
  font-family: Qenalas-ExtraBlodItalic;
  src: url(./fonts/Qanelas-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: Qenalas-Heavy;
  src: url(./fonts/Qanelas-Heavy.ttf);
}

@font-face {
  font-family: Qenalas-HeavyItalic;
  src: url(./fonts/Qanelas-HeavyItalic.ttf);
}

@font-face {
  font-family: Qenalas-Light;
  src: url(./fonts/Qanelas-Light.ttf);
}

@font-face {
  font-family: Qenalas-LightItalic;
  src: url(./fonts/Qanelas-LightItalic.ttf);
}

@font-face {
  font-family: Qenalas-Medium;
  src: url(./fonts/Qanelas-Medium.ttf);
}

@font-face {
  font-family: Qenalas-MediumItalic;
  src: url(./fonts/Qanelas-MediumItalic.ttf);
}

@font-face {
  font-family: Qenalas-Regular;
  src: url(./fonts/Qanelas-Regular.ttf);
}

@font-face {
  font-family: Qenalas-RegularItalic;
  src: url(./fonts/Qanelas-RegularItalic.ttf);
}

@font-face {
  font-family: Qenalas-SemiBold;
  src: url(./fonts/Qanelas-SemiBold.ttf);
}

@font-face {
  font-family: Qenalas-SemiBoldItalic;
  src: url(./fonts/Qanelas-SemiBoldItalic.ttf);
}

@font-face {
  font-family: Qenalas-Thin;
  src: url(./fonts/Qanelas-Thin.ttf);
}

@font-face {
  font-family: Qenalas-ThinItalic;
  src: url(./fonts/Qanelas-ThinItalic.ttf);
}

@font-face {
  font-family: Qenalas-UltraLight;
  src: url(./fonts/Qanelas-UltraLight.ttf);
}

@font-face {
  font-family: Qenalas-UltraLightItalic;
  src: url(./fonts/Qanelas-UltraLightItalic.ttf);
}
